.stack-sans-notch{
  font-family: "Stack Sans Notch", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.boxBorder {
	border-style: solid;
	border-width: 1px;
}

.button {
  background-color: white;
  border: none;
  color: black;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button5:hover {
	background-color: #555555;color: white;
}

form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

label {display: block;}

input[type=text], select {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.column {
  float: left;
  width: 20%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}


body {
		background-color: #25E6AA;
	}

	h1 {
		font-family: Arial;
		color: #E55224;
	}

	p {
		font-family: Arial;
		color: #3c0580;
	}

.bg-img {
	background-image: url("disc.jpg");
	height: 300px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

	.md-img {
		border-radius: 25px;
		width: 600px;
		padding: 20px;
	}

	.sm-img {
		width: 200px;
		
	}



