.stack-sans-notch{
  font-family: "Stack Sans Notch", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.boxBorder {
	border-style: solid;
	border-width: 1px;
}

.button5:hover {background-color: #555555;color: white;}

.column {
  float: left;
  width: 20%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}


body {
		background-color: #25E6AA;
	}

	h1 {
		font-family: Arial;
		color: #E55224;
	}

	p {
		font-family: Arial;
		color: #3c0580;
	}

.bg-img {
	background-image: url("disc.jpg");
	height: 300px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

	.md-img {
		border-radius: 25px;
		width: 600px;
		padding: 20px;
	}

	.sm-img {
		width: 200px;
		
	}

